body{
    background-color: rgb(245, 227, 206);
}
.text{
    color: #5e5444;    
    font-family:"Sour Gummy", serif;
    margin-top: 100px;

}
.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}
.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin: 0;
    margin-left: 15px;
}

ul{
    margin: 0;
    align-self: center;
}

.site-name{
    margin: 0;
    font-family:"Sour Gummy", serif;
    font-weight: 800;
    font-size: 30px;
    color: #5e5444;
}

.nav-menu{
    font-family:"Sour Gummy", serif;
    font-weight: 800;
    font-size: 16px;
}
a{
    color: #342b1d;
    text-decoration: none;
}
a.site-name:hover{
    color: #5e5444;
    text-decoration: none; 
    transition: none; 
    pointer-events: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Sorgt dafür, dass Bilder gleichmäßig angezeigt werden */
    display: block;
    transition: transform 0.3s ease; /* Für Zoom-Effekt */
}

.gallery-item img:hover {
    transform: scale(1.1); /* Zoom-Effekt bei Hover */
  }

  @media (max-width: 900px) {
    .frame{
        margin: 30px 50px;
        display: flex;
        flex-direction: column;
    }
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}