body{
    background-color: rgb(245, 227, 206);
}
.text{
    color: #5e5444;    
    font-family:"Sour Gummy", serif;
    margin-top: 100px;

}
.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}
.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin: 0;
    margin-left: 15px;
}

ul{
    margin: 0;
    align-self: center;
}



.diego{
    display: flex;
}
.cat{
    margin-bottom: 50px;
}
@media (max-width: 900px) {
    .frame{
        margin: 30px 10px;
        display: flex;
        flex-direction: column;
    }
}