/* Allgemeine Einstellungen */
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(245, 227, 206);
    font-family:"Sour Gummy", serif;
}







/* Navigator */

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin: 0;
    margin-left: 15px;
}

ul{
    margin: 0;
    align-self: center;
}

.site-name{
    margin: 0;
    font-weight: 800;
    font-size: 30px;
    color: #5e5444;
}


.nav-menu{
    font-weight: 800;
    font-size: 16px;
}


a{
    color: #342b1d;
    text-decoration: none;
}

a:hover{
    color: #ffc2b0;
    transition: 0.3s;
}

a.site-name:hover{
    color: #5e5444;
    text-decoration: none; 
    transition: none; 
    pointer-events: auto;
}



  /* Galerie-Stil */
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 24px; 
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  /* Projekt-Rechteck */
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: 2px solid #5e5444; 
    border-radius: 8px;
    padding: 23px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease; 
    cursor: pointer;
  }
  
  .project:hover {
    transform: translateY(-6px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  }
  
  /* Bildcontainer */
  .image-container {
    width: 100%;
    height: 160px; 
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.4s ease;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease; 
  }
  
  .image-container img:hover {
    transform: scale(1.); 
  }
  
  /* Button-Stil */
  .project-button {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 8px 18px;
    background-color: transparent;
    color: #5e5444; 
    border: 2px solid #5e5444;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .project-button:hover {
    background-color: white; 
    color: #333; 
    border: 2px solid #333; 
  }

  @media (max-width: 1100px) {
    .frame{
        margin: 30px 10px;
        display: flex;
        flex-direction: column;
    }
    .gallery{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

  }

  @media (max-width: 700px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  }
